<% var meta = {
    pageTitle:'HAPPY BIRTHDAY',
    description:'よしださんおたんじょうびおめでとう',
    keywords:'',
    url:'',
};
%>
<% include common/_header -%>
<main class="p-ykari">
    <div class="p-yukari__bg">
        <div class="c-oval"></div>
            <div class="c-cakes">
            	<div class="c-cherry">
            	    <div class="c-stem"></div>
            	    <div class="c-reflection"></div>
            	</div>
            	<div class="c-top_cake"></div>
            	<div class="c-center"></div>
				<div class="c-shadow"></div>
            </div>
        <div class="p-yukari__cover js-bg"></div>
        <div class="p-yukari__arrow js-arrow">
            <i class="material-icons">
                arrow_downward
            </i>
        </div>
    </div><!-- ./p-yukari__bg -->
    <section class="p-yukari__mv">
        <h1 class="p-yukari__mvTxt">
            HAPPY BIRTHDAY<br>
            YUKARI
        </h1>
    </section>
    <section class="p-yukari__chat">
        <ul class="p-yukari__chat-area">
            <li class="p-yukari__chatItm p-yukari__chatItm--my" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <p class="p-yukari__chatTxt-area p-yukari__chatTxt-area--my">そういえば！</p>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--my" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <p class="p-yukari__chatTxt-area p-yukari__chatTxt-area--my">ぱいせん！！</p>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--my" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <p class="p-yukari__chatTxt-area p-yukari__chatTxt-area--my">よしださんのお誕生日ですよ！</p>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--yamakami" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <div class="p-yukari__chatTxt-area">
                    <p class="p-yukari__chatName">山上さん</p>
                    <p class="p-yukari__chatTxt">
                        え！ほんと？
                    </p>
                </div>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--my" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <p class="p-yukari__chatTxt-area p-yukari__chatTxt-area--my">ほんとほんと！</p>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--yamakami" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <div class="p-yukari__chatTxt-area">
                    <p class="p-yukari__chatName">山上さん</p>
                    <p class="p-yukari__chatTxt">
                        お誕生日おめでとう！<br>
                        歳を重ねるごとに何歳だかよくわからなくなってゆく吉田さんは<br>
                        とても素敵だと思います！
                        俺も今年からコスプレしようと思ってます！
                    </p>
                </div>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--kobayashi" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <div class="p-yukari__chatTxt-area">
                    <p class="p-yukari__chatName">小林さん</p>
                    <p class="p-yukari__chatTxt">
                        誕生日おめでとう！！<br>
                        今年もいい一年になるといいですね。<br>
                        来年もいい一年になりますように。
                    </p>
                </div>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--shimoji" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <div class="p-yukari__chatTxt-area">
                    <p class="p-yukari__chatName">下地ぱいせん</p>
                    <p class="p-yukari__chatTxt">
                        へー…最近の若者の恋は目に宿るのかー
                    </p>
                </div>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--onodera" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <div class="p-yukari__chatTxt-area">
                    <p class="p-yukari__chatName">きんぱい</p>
                    <p class="p-yukari__chatTxt">
                        吉田さん誕生日おめでとうございまあああああす🎊ﾊﾟｶｯ<br>
                        良い一年にしてくださいね～！！🗽<br>
                        再見！
                    </p>
                </div>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--my" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <p class="p-yukari__chatTxt-area p-yukari__chatTxt-area--my">よしださん！<br><br>
                    おたんじょうびおめでとうございます🍰<br>
                    今年はよしださんにとって素敵な1年になりますように!🙆🏻<br>
                    らぶ！💖
                </p>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--kanzaki" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <div class="p-yukari__chatTxt-area">
                    <p class="p-yukari__chatName">かんざきさん</p>
                    <p class="p-yukari__chatTxt">
                        お誕生日おめでとうございます！<br>
                        いつでも遊びに来てくださいね♪<br>
                        <br>
                        ✨<span class="p-yukari__custom01">✨ Happy Birthday ✨</span>✨<br>
                        <span class="p-yukari__aaTxt">
                        　　　　　　🔥🚩🔥<br>
                        　　　　　┏┻┻┻┓<br>
                        　　　　┏┛⭐ ⭐┗┓<br>
                        　　　　┃🎵💖💖🎵┃<br>
                        　　　┏┛　&nbsp;∧⑅⑅∧　&nbsp;┗┓<br>
                        　　　┃⭐(๑•&nbsp;ω&nbsp;•๑)⭐┃<br>
                        </span>
                    </p>
                </div>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--ohara" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <div class="p-yukari__chatTxt-area">
                    <p class="p-yukari__chatName">おはらくん</p>
                    <p class="p-yukari__chatTxt">
                        よしださん！お誕生日おめでとうございます!(^^)!<br>
                        これからもっともっとやばいエンジニアさんになってください！<br>
                        Happyな1年になることを確信してます！
                    </p>
                </div>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--my" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <p class="p-yukari__chatTxt-area p-yukari__chatTxt-area--my">じゃあ、最後は特別ゲスト！</p>
            </li>
            <li class="p-yukari__chatItm p-yukari__chatItm--pochi" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="easeout">
                <div class="p-yukari__chatTxt-area">
                    <p class="p-yukari__chatName">ぽちさん</p>
                    <p class="p-yukari__chatTxt">
                      お誕生日おめでとう！<br>
                      付き合ってからはや８年、結婚して２年経ちました。<br>
                      出会ってからずっと、お互いを支え合える良い関係で、<br class="pci">二人で頑張ってこれましたね。<br>
                      これからも大変なことはたくさん待ってるかもしれないけど、<br>こんなに素敵なプレゼントをしてくれるたくさんの先輩たち、仲間たちを大切に、<br class="pci">共に頑張っていきましょう。<br>
                      コメントをいただいたみなさまと、最愛の妻に、感謝を込めて。<br>
                      <br>
                      P.S. みなさまお忙しいとは思いますが、<br>6月16日、新居にてお待ちしておりますので、ぜひ遊びに来てください！
                    </p>
                </div>
            </li>
        </ul>
    </section>
</main>
<% include common/_footer -%>
